* {
  padding: 0;
  margin: 5px;
  text-align: center;
}

  .calccccc {
      COLOR: WHITE;
      font-family: sans-serif;
      letter-spacing: 1.7px;
      font-weight: 100;
      font-size: 41px;
      padding: 4px;
}
.conv{
    width: 100%;
    margin: 10px;
    padding: 10px;
    float: left;
}
.inputss{
border: 1px solid rgb(41, 40, 40);
padding: 8px;
display: block;
width: 100%;
}

body {
  background-color:black;
}
.calculator {
 width: 100%;
 height: -webkit-fill-available;
 background-color:white;
 /* box-shadow: 0px 0px 0px 10px #666; */

 border: 3px solid white;;
 /* border-radius: 10px;*/
}
#display {
 width: 86%;
 height: 77px;
     border-radius: 14px;
 text-align: right;
 background-color: white;
 border: 3px solid black;
 font-size: 43px;
 /* left: 2px; */

 color: #2f9245
}
.btnTop{
          color: white;
          background-color: #9e1b1b;
          font-size: 34px;
          cursor: pointer;
          margin: 10px;
          box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.2),
          0 4px 20px 0 rgba(0, 0, 0, 0.19);
          border: none;
          width: 74px;
          border-radius: 5px;
          /* height: 70px; */

          height: 52px;
}
.btnNum {
     color: white;
     background-color: #052924;
     font-size: 45px;
     border-radius: 5px;
     cursor: pointer;
     margin: auto;
       box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.2),
       0 4px 20px 0 rgba(0, 0, 0, 0.19);
       border: none;
     width: 103px;
     height: 87px;
}
.btnMath {
      color: white;
      background-color: #881b9e;
      font-size: 42px;
      cursor: pointer;
      margin: 10px;
      box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.2),
      0 4px 20px 0 rgba(0, 0, 0, 0.19);
       border: none;
      width: 92px;
      padding: 10px;
border-radius: 5px;

      height: 86px;
      
  ;
}
.btnOpps {
    color: white;
    background-color: #90790b;
    font-size: 36px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    width: 86px;
   

    height: 64px;
}