
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.my.iengineer1">
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="29" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:name=".SketchApplication"
		android:theme="@style/AppTheme"
		android:hardwareAccelerated="true">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".HomeActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".DebugActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			android:exported="false" />
		<activity
			android:name=".StartupActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".TabLayoutActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".camera.CameraMeasureActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.roads.RoadsActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.sanitation.SanitationActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.projects.ProjectsActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.projects.ProjectDetailActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.cost.CostCalculatorActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.converter.UnitConverterActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<activity
			android:name=".modules.summary.BOQSummaryActivity"
			android:configChanges="orientation|screenSize|keyboardHidden"
			android:hardwareAccelerated="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden|adjustResize"
			android:exported="false" />
		<!-- Civil Engineering Menu Activities -->
        <activity android:name=".CivilConstructionMenuActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:exported="false" />
        <activity android:name=".CivilRoadsMenuActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:exported="false" />
        <activity android:name=".CivilSewageMenuActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:exported="false" />
        <activity android:name=".CivilExecutionConstructionMenuActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:exported="false" />
        <activity android:name=".CivilExecutionInfraMenuActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:exported="false" />
        <activity android:name=".CivilDesignMenuActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" android:exported="false" />
        <!-- Migrated Calculation Activities - Technical Office Construction -->
        <activity android:name=".ToipccExcavationForBuildingsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccReplacementForBuildingsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccconcretematerialsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccSteelBarsWieghtAndPriceActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccplainconcretefootingsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretefootingActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretesmellsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretecolumnActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretebeamsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccsolidslabsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccslabongrideActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccConcreteWallActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBrickWorkActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPlasteringActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPaintActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Migrated Calculation Activities - Technical Office Roads -->
        <activity android:name=".ToipccExcavationForRoadActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccReplacementLayerForRoadActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBaseCourseLayersForRoadActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccAsphaltRoadMillingMachineActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccAsphaltMaterialActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccMcoLayerActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBinderAsphaltLayersActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccRcActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccWearingSerfaceAsphaltLayersActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Migrated Calculation Activities - Technical Office Sewage -->
        <activity android:name=".ToipPipeLineLengthDifferenceActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipPipeLineLengthDifferencesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipPipeLineLengthDifferencessActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDrainagePipeLineDepthActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDrainagePipeLineSlopesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDrainagePipeLineSlopessActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipSewageVilocityChecksActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipForceMainCheckDesignActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipqcManholeConcreteActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipqcDManholeConcreteFragmentActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDrainagePipeLinePriceStudyActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccEjectionLinePriceAndStudyActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccSewageStudyPricesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDewateringPricesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDewateringPricessActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDewateringPriceActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipApplyCostOfPipeLineExchangesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Additional Sewage/Roads variants -->
        <activity android:name=".ToipccExcavationForRoadsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccExcavationForRoadssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccReplacementLayerForRoadsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccReplacementLayerForRoadssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBaseCourseLayersForRoadsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBaseCourseLayersForRoadssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBrickWorksActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccBrickWorkssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPlasteringsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPlasteringssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPaintsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPaintssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretefootingsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretefootingssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretecolumnsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretecolumnssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccreinforcedconcretewallsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPlainConcreteWallssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccPlainconcreteWallsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccReinforcedconcreteWallssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccslabongridesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccslabongridessActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDrainagePipeLinePriceStudysActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDrainagePipeLinePriceStudyssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccEjectionLinePriceAndStudysActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccEjectionLinePriceAndStudyssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccEjectionLinePriceAndStudysssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Execution Construction -->
        <activity android:name=".EipexcavationsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipreplacementsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipplainconcretefootingsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Execution Infrastructure -->
        <activity android:name=".EipCheckSewageLinesExcavationActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewageLinesExcavationssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewageLinesReplacementsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewageLinesReplacementssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewagePipeLinesLevelsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewagePipeLinesLevelssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewageLinesEncasementsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipCheckSewageLinesEncasementssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipSurveyingWorksActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDCheckSewageLinesExcavationActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDCheckSewageLinesExcavationLevelActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDCheckSewageLinesExcavationWidthActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDPlainconcreteActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDSoil1Activity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDSurveyingWorksActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".EipDSurveyingWorksLevelActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Design Department -->
        <activity android:name=".DipsdDesignOfIsolatedFootingsActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".DipsdDesignOfIsolatedFootingssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <!-- Additional D-prefix activities -->
        <activity android:name=".ToipDApplyCostOfPipeLineExchangeActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDDrainagePipeLineDepthActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDDrainagePipeLineSlopeActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDEquipmentsAndLaboursActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDForceMainCheckDesignActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDPipeLineLengthDifferenceActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDPipeLineLengthDifferencesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDPipeLineShortPiecesActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipDSewageVilocityChecksActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipqcDManholeConcreteActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipqcSoilWorksActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDAsphaltLayerActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDAsphaltMaterialActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDConcreteQuantityCalculationActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDDewateringPriceActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDEjectionLinePriceAndStudysssActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDHolePlasteringActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDSteelBarsWieghtAndPriceActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
        <activity android:name=".ToipccDWallPlasteringActivity" android:configChanges="orientation|screenSize|keyboardHidden" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:exported="false" />
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="com.my.iengineer1.androidx-startup"
			android:exported="false">
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup" />
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup" />
		</provider>
<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="com.my.iengineer1.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>
	</application>
</manifest>
